:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    /* background-image: linear-gradient(to right,
            #baf3d7,
            #c2f5de,
            #cbf7e4,
            #d4f8ea,
            #ddfaef); */
            /* background-color: #31318b; */
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    background-color: rgb(43, 42, 42);
}
#list-group2 a:hover{
    background-color: #030257;
    border-radius: 20px 0px 0px 20px;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}
.navbar{
    background-color: rgb(148, 247, 247);
}
.container-fluid2{
    background-color: #02005e;
}
.container-fluid2{
    color: white;
}
.form-group2{
    background-color: #02005e;
}
.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    font-weight: bold;
    border: none;
}
.list-group-item.preactive {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}
.fields label{
    color: white;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -17rem;
    }
    
}
@media screen and (max-width : 1049px) {
    .form-group2{
        flex-flow: column;
        justify-content: center;
        margin: auto;
    }
    .fields{
        margin: auto;
        padding: 5px;
    }
    
}