.row{
    display: block;
}
.date{
    margin: 20px 50px;
}
#date{
    width: 150px;
    background-image: linear-gradient(to right top, #f1f3f3, #f3f5f5, #f5f7f7, #f8fafa, #fafcfc, #fafcfc, #fbfcfc, #fbfcfc, #f9fafa, #f7f7f8, #f5f5f5, #f3f3f3);
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5px;
}
.member{
    margin-top: 15px;
    display: flex;
}
.container-fluid{
    display: flex;
    width: auto;
    margin: auto;
    border-radius: 70px;
    box-shadow: 0px 2px 10px grey;
    
}
.text{
    color: black;
}
.total{
    display: flex;
    margin: auto;
}
.text{
    text-align: center;
}
.removeElement{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
@media (max-width: 594px){
    .member{
        flex-wrap: wrap;
        margin-left: auto;
    }
    .total{
        flex-flow: column;
    }
}